@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-background: #f8fafc;
}

@layer base {
  body {
    @apply bg-background text-slate-800 font-sans antialiased;
  }
}
